<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="card text-center" style="width: 18rem;">
                <img src="https://rukminim1.flixcart.com/image/200/200/printer/j/j/y/hp-laserjet-m1005-multifunction-original-imadxhzpeb9qbrfg.jpeg?q=70" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Printer</h5>
                  <p class="card-text">From &#8377;3999</p>
                  <a href="#" class="btn btn-primary">Buy now</a>
                </div>
              </div>
        </div>
        <div class="col-sm-3">
            <div class="card text-center" style="width: 18rem;">
                <img src="https://rukminim1.flixcart.com/image/200/200/xif0q/power-bank/d/a/f/-original-imagky3e8yp5ebvr.jpeg?q=70" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Printer</h5>
                  <p class="card-text">From &#8377;3999</p>
                  <a href="#" class="btn btn-primary">Buy now</a>
                </div>
              </div>
        </div>
        <div class="col-sm-3">
            <div class="card text-center" style="width: 18rem;">
                <img src="https://rukminim1.flixcart.com/image/200/200/xif0q/cases-covers/back-cover/j/i/6/mycas-black-vv-y35-qcase-original-imagj87uwxzarrzk.jpeg?q=70" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Printer</h5>
                  <p class="card-text">From &#8377;3999</p>
                  <a href="#" class="btn btn-primary">Buy now</a>
                </div>
              </div>
        </div>
        <div class="col-sm-3">
            <div class="card text-center" style="width: 18rem; ">
                <img src="https://rukminim1.flixcart.com/image/200/200/kactpjk0/shaver/m/6/z/philips-s1121-45-s1121-45-original-imafry2qgxcwnm9r.jpeg?q=70" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Printer</h5>
                  <p class="card-text">From &#8377;3999</p>
                  <a href="#" class="btn btn-primary">Buy now</a>
                </div>
              </div>
        </div>
    </div>
</div>