<h1 class="text-center bg-success text-white p-2">Product List</h1>

<div class="container">
  <div class="row">
    <div class="offset-sm-4 col-sm-6">
      <input
        type="search"
        [(ngModel)]="searchText"
        placeholder="Search something..."
        class="form-control mb-2"
      />
    </div>
    <div class="offset-sm-5 col-sm-5">
      <button class="btn btn-secondary ms-1" (click)="sortA()">Asc</button>
      <button class="btn btn-primary" (click)="sortD()">Dsc</button>
    </div>
  </div>
  <div class="row">
    <ng-container
      *ngFor="
        let prod of products
          | filter : searchText
          | paginate : { itemsPerPage: 4, currentPage: p }
      "
    >
      <div class="col-sm-3">
        <div class="card" style="width: 18rem">
          <img
            src="{{ prod.image }}"
            class="card-img-top"
            style="height: 150px"
            alt="image"
          />
          <div class="card-body text-center">
            <h5 class="card-title">{{ prod.title }}</h5>
            <p class="card-text">{{ prod.category }}</p>
            <p class="card-text">Price: {{ prod.price }}</p>
            <p class="card-text">Rating: {{ prod.rating.rate }}</p>
            <a class="btn btn-primary">Buy Now</a>
            <button class="btn btn-secondary" (click)="addToCart()">Add to Cart</button>
          </div>
        </div>
      </div>
    </ng-container>
    <div class="offset-sm-4 col-sm-6">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>
