<div class="center">
    <!-- <app-electronics></app-electronics> -->
    <!-- <app-databinding></app-databinding> -->
    <!-- <app-directives></app-directives> -->
    <!-- <app-products></app-products> -->
    <!-- <app-users></app-users> -->
    <!-- <app-greet>
        <div>Content from parent 1</div>
    </app-greet>
    <app-greet>
        <div>COntent from parent 2</div>
    </app-greet> -->
    <!-- <app-product-list></app-product-list> -->
    <!-- <app-pipes></app-pipes> -->
    <!-- <app-parent></app-parent> -->
    <app-employee-crud></app-employee-crud>
</div>