<div *ngIf="n % 2 === 0; else oddBlock">{{ n }} is Even</div>
<ng-template #oddBlock> {{ n }} is Odd </ng-template>

<div *ngIf="flag">
  <!--Element will be deleted in DOM-->
  This controlled by ngIf
</div>
<div [hidden]="!flag">
  <!--Element will be available in DOM-->
  This is controlled by Hidden
</div>
<hr />
<h1 [ngSwitch]="dayNumber">
  <p *ngSwitchCase="1">Today is Monday</p>
  <p *ngSwitchCase="2">Today is Tuesday</p>
  <p *ngSwitchCase="3">Today is Wednesday</p>
  <p *ngSwitchCase="4">Today is Thursday</p>
  <p *ngSwitchCase="5">Today is Friday</p>
  <p *ngSwitchCase="6">Today is Saturday</p>
  <p *ngSwitchCase="7">Today is Sunday</p>
  <p *ngSwitchDefault>Not a valid input</p>
</h1>
<hr />
<ul>
  <li *ngFor="let car of cars">{{ car }}</li>
</ul>
<h2>Select a country</h2>
<select [(ngModel)]="selectedCountry">
  <option *ngFor="let country of country_list">{{ country }}</option>
</select>
<p>You have selected {{ selectedCountry }}</p>
<hr />
<h2>Select a state</h2>
<select [(ngModel)]="selectedState">
  <option *ngFor="let state of states" [value]="state.val">
    {{ state.name }}
  </option>
</select>
<p>You have selected {{ selectedState }}</p>
<hr />
<input list="countries" [(ngModel)]="selectedCountry2" />
<datalist id="countries">
  <option *ngFor="let country of country_list">{{ country }}</option>
</datalist>
<p>You have selected {{ selectedCountry2 }}</p>
<hr />

<h2>Dynamic CSS</h2>
<p [style.color]="n % 2 == 0 ? 'blue' : 'red'">
  Add a style dynamically {{ n }}
</p>
<p [style.fontSize.px]="8">Add style with unit</p>
<p [style.background-color]="flag ? 'green' : 'blue'">
  Add style conditionally
</p>
<p
  [ngStyle]="
    n % 2 === 0
      ? { color: 'blue', border: '5px dashed green' }
      : { color: 'red', border: '5px dashed yellow' }
  "
>
  {{ n }} is {{ n % 2 === 0 ? "Even" : "Odd" }}
</p>
<button class="btn" [ngClass]="flag ? 'btn-success' : 'btn-danger'">
  Button
</button>
<!--to dyanmically add class [ngClass] is used-->

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Roll</th>
      <th>Name</th>
      <th>Marks</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="students.length > 0; else noRecord"> <!--ngContainer will never be visible inside the DOM-->
      <tr *ngFor="let std of students">
        <td>{{ std?.roll }}</td>
        <td>{{ std?.name }}</td>
        <td>{{ std?.marks }}</td>
      </tr>
    </ng-container>
  </tbody>
</table>
<ng-template #noRecord>
  <tr colspan="2" align="center">
    No Record found
  </tr>
</ng-template>
<hr>
<input numberonly />
<hr>
<h1 highlight > This a highlight directive</h1>